.footer_outer_container {
  background-color: #111;
  color: gray;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.footer_inner_container {
  width: 70%;
}

.footer_icons {
  width: 15%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  color: #fff;
}

.footer_data {
  display: flex;
  justify-content: space-between;
}

.footer_data ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 12vh;
  text-decoration: underline;
}

.footer_data ul li {
  cursor: pointer;
}

.footer_list_left {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.footer_list_right {
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.service_code {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  margin: 10px 0;
  cursor: pointer;
}

.copy_right {
  font-size: 12px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .footer_list_left {
      flex-direction: column;
    }
  .footer_list_right {
      flex-direction: column;
    }
}